:root{
    --main-font-2: "Text Me One"
}

*{
    box-sizing: border-box;
    margin: 0px;
}



.title h2{
    font-family: var(--main-font-2); 
    color:white;
    font-size: 1.5em;
    text-align: center;

}

.title p{
    font-family: var(--main-font-2);
    color: white;
    text-align: center;
    letter-spacing: 0.99em;
    font-size: 1.3em;
}
.contenedor {
    display: flex;
    background-color: #201F22;
    
    align-items: center;
    justify-content: center;

}

#piano{
    display: flex;
    /*position: relative;*/
}

.white{
    background-color: white;
    height: 120px;
    width: 60px;
    border: 1.5px solid black;
    border-radius: 0 0 5px 5px;
    
}

.black{
    background-color: black;
    height: 80px;
    width: 20px;
    border: 1.5px solid black;
    margin:0 0 0 -2.5em;
    transform: translate(50%,0px);
    border-radius: 0 0 5px 5px;
}

.active{
    background-color: blanchedalmond;
}

.instrumentopiano{
    background-color: #201F22;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
