:root {
  --main-color-1: #F7F6F4;
  --main-color-2: #6B7464;
  --main-color-3: #D79B31;
  --main-color-4: #9F4248;
  --main-color-5: #201F22;
  --main-font-1: "Rum Raisin";
  --main-font-2: "Text Me One";
  --main-font-3: "Sansita";
  --main-font-4: "Mulish";
}


*{
    box-sizing: border-box;
    margin: 0px;
}

/* CSS DIEGO*/
.Header{
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color-3);
  position: sticky;
  top:0px;
  z-index: 1;
  align-items: center;
  padding: 0px 75px;
  flex-wrap: wrap;
}

.Header div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.Header div spam {
  font-family: var(--main-font-1);
  font-size: 35px;
}

.Header div img{
  width: auto;
  height: 50px;
  
  /*Fondo transparente*/
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.Header .Navbar ul{
  display: flex;
  height: 70px;
}

.Header .Navbar ul li{
  display: flex;
  list-style: none; /* Quitar el stilo a las listas*/
  

}

.Header .Navbar ul li {
  text-align: center;
  align-items: center;
}

.Header .Navbar ul li:hover{
  background-color: var(--main-color-2);
}

.Header .Navbar ul li a{
    font-family: var(--main-font-2);
    color: var(--main-color-1);
    text-decoration: none;
    font-size: 21px;
    width: 100px;
}


/* FIN CSS DIEGO*/



/* CSS JOCELYN*/
/* seccion inicio */
.inicio{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  background-image: url("/img/fondo_principal.jpg");
  height:100vh;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  background-size: cover;
  padding-left: 100px;
  padding-right: 100px;
}

.inicio .column1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inicio .column1 .contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  gap: 20px;
}


.inicio .column1 h1{
  font-family: var(--main-font-1);
  font-size: 4.5vw;
  text-align: center;
}

.inicio .column1 p{
  font-family: var(--main-font-4);
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}

.inicio .column1 .contenedor div{
  text-align: center;
}

.inicio .column1 button{
  background-color: var(--main-color-4);
  border-radius: 20px;
  width: 15vw;
  color: var(--main-color-1);
  border-style: none;
  font-family: var(--main-font-4);
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px;
}

.column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column2 .contenedor2{
  position: relative;
  width: 60%;
  height: 60%;
}
.circulo{
  position: absolute;
  background-color:var(--main-color-3);
  opacity: 0.6;
  width: 24vw;
	height: 24vw;
  border-radius: 100%;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  
  }

  .inicio .column2 img{
    position: absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
/* seccion acerca de nosotros */
  .us{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    background-color: var(--main-color-5);
    height: 100vh;
  }
  
  .us .parte1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .us .parte1 .container1{
    width: 95%;
    height: 90%;
  }
  
  .us .parte1 img{
    width: 100%;
    height: 100%;
  }
  
  .parte2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    height: 75%;
  }
  
  .parte2 h1{
    text-align: center;
    font-family: var(--main-font-3);
    color: var(--main-color-1);
    font-size: 3vw; 
  }
  
  .parte2 p{
    font-family:var(--main-font-4);
    color:var(--main-color-1);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2.0vw;
  }
  .anim{
    display: flex;
    gap: 20px;
    }
  .anim img{
    width: 5vw;
  }
  
  .parte2 .anim img{
    width: 8vh;
  }
  /* seccion footer */
  .foot{
    height: 100px;
    display: flex;
    justify-content:space-between;
    padding: 0px 80px;
    align-items: center;
    font-size: 1.5vw;
    background-color: var(--main-color-2);
    color: var(--main-color-1);
    font-family: var(--main-font-2);
  }
  .icons{
    display: flex;
    gap: 20px;
  }
  .icons img{
    width: 3vw;
  }
  
/* FIN CSS JOCELYN*/


/* CSS DIEGO */

/* FIN CSS DIEGO*/