:root {
  --main-color-1: #F7F6F4;
  --main-color-1: #6B7464;
  --main-color-1: #D79B31;
  --main-color-1: #9F4248;
  --main-color-1: #201F22;
}

/* CSS DIEGO*/

/* FIN CSS DIEGO*/



/* CSS JOCELYN*/

/* FIN CSS JOCELYN*/
